<% content_for(:title, "Edit settings") %>
<% content_for(:page, 'edit-settings') %>

<div class="row">
  <div class="col-md-3">
    <%= render 'account/nav' %>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Edit settings</h4>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
