<% pictures.each do |picture| %>
  <div class="card mb-4">
    <%= link_to picture_path(picture), class: 'card-img-link' do %>
      <%= image_tag(picture.image.thumb_url('800x800'), alt: picture.alt, class: 'card-img-top') %>
    <% end %>

    <div class="card-body">
      <p class="card-text"><%= render 'pictures/user', picture: picture %></p>

      <% if picture.caption.present? %>
        <%= simple_format(truncate(picture.caption, length: 200, separator: '.'), class: 'card-text') %>
      <% end %>
    </div>
  </div>
<% end %>
