<div class="row">
  <div class="offset-md-3 col-md-6">
    <p class="text-muted">Latest pictures from your timeline</p>

    <div id="gallery">
      <%= render 'dashboard/pictures', pictures: @pictures %>
    </div>

    <p class="next-page text-center mt-3">
      <%= link_to_next_page @pictures, 'Load more', remote: true, class: 'btn btn-outline-secondary', role: 'button' %>
    </p>
  </div>
</div>
