<%= form_tag account_charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <input type="submit" name="commit" value="Pay" class="btn btn-primary" data-disable-with="Pay" />

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Picture"
          data-description="data top up"
          data-amount="500"
          data-allow-remember-me="false"
          data-email="<%= current_user.email %>"
          data-locale="auto"></script>
  <style>
    .stripe-button-el {
      display: none;
    }
  </style>
<% end %>
