<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to 'Invitations', admin_invitations_path, class: "nav-link #{'active' if content_for(:page) == 'admin-invitations'}" %>
  </li>
</ul>
