<% content_for(:title, "Edit profile") %>
<% content_for(:page, 'edit-profile') %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'account/nav' %>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <h4 class="card-header">Edit profile</h4>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
