<% content_for(:title, "Editing profile") %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Editing profile</h4>
      <div class="card-block">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
