<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 text-center">Welcome to Picture</h1>
    <p class="text-center mt-4"><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-success', role: 'button' %></p>
  </div>
</div>

<footer class="mt-4">
  <p class="text-center text-muted">Built with &lt;3 by <a href="https:/vinc.cc" class="text-muted"><strong>@vinc</strong></a>. Code licensed <a href="https://github.com/vinc/pi.ctu.re/LICENSE" class="text-muted"><strong>MIT</strong></a>.</p>
</footer>
