<% content_for(:title, "Welcome to Picture") %>
<% content_for(:page, 'home') %>

<div class="welcome">
  <h1 class="display-4 text-center text-white">Welcome to Picture</h1>
  <% unless user_signed_in? %>
    <p class="text-center mt-4"><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary', role: 'button' %></p>
  <% end %>
</div>

<footer class="mt-4">
  <p class="text-center text-white">
    <span>Built with &hearts; by <a href="https:/vinc.cc" class="text-white"><strong>vinc</strong></a>.</span>
    <span>Code licensed <a href="https://github.com/vinc/pi.ctu.re/LICENSE" class="text-white"><strong>MIT</strong></a>.</span>
  </p>
</footer>
