<% content_for(:title, "Welcome to Picture") %>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 text-center">Welcome to Picture</h1>
    <% unless user_signed_in? %>
      <p class="text-center mt-4"><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary', role: 'button' %></p>
    <% end %>
  </div>
</div>

<footer class="mt-4">
  <p class="text-center text-muted">
    Built with &hearts; by <a href="https:/vinc.cc" class="text-muted"><strong>vinc</strong></a>.
    Code licensed <a href="https://github.com/vinc/pi.ctu.re/LICENSE" class="text-muted"><strong>MIT</strong></a>.
  </p>
</footer>
