<% content_for(:title, t('welcome.title')) %>

<div class="welcome text-center">
  <%= t('welcome.body_html') %>

  <% unless user_signed_in? %>
    <p class="mt-4"><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary', role: 'button' %></p>
  <% end %>
</div>
