<% pictures.each do |picture| %>
  <div class="card mb-4">
    <%= link_to picture_path(picture), class: 'card-img-link' do %>
      <%= image_tag(picture.image.thumb_url('800x800'), alt: picture.alt, class: 'card-img-top') %>
    <% end %>

    <div class="card-body">
      <%= render 'pictures/user', picture: picture %>

      <% if picture.description.present? %>
        <div class="mt-3">
          <%= picture_description_format(picture.description, truncate: 200, class: 'card-text') %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
