<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header text-muted"><%= title 'Request an invitation' %></div>
      <div class="card-body">
        <%= render 'form', invitation: @invitation %>
      </div>
    </div>
  </div>
</div>
