<div class="card-columns mt-4">
  <% albums.each do |album| %>
    <%= link_to album do %>
      <div class="card">
        <% if album.pictures.size > 0 %>
          <%= image_tag(album.pictures.first.image.thumb_url('500x500!').to_s, alt: album.title, class: 'card-img-top img-fluid') %>
        <% end %>
        <div class="card-block">
          <h4 class="card-title"><%= album.title %></h4>
          <p class="card-text"><small class="text-muted">Updated <%= timeago_tag album.updated_at, :limit => 10.days.ago %></small></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
