<% if @user %>
  <% content_for(:title, "Albums by #{@user.name}") %>
  <% content_for(:page, 'user_albums') %>

  <%= render 'users/header' %>
<% else %>
  <% content_for(:title, 'Albums') %>
<% end %>

<%= render 'albums', albums: @albums %>

<% if user_signed_in? && @user == current_user %>
  <div class="btn-group mt-3" role="group">
    <%= link_to new_album_path, class: 'btn btn-secondary', role: 'button' do %>
      Create album
    <% end %>
  </div>
<% end %>
