<% content_for(:title, 'Create an album') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Create an album</h4>
      <div class="card-block">
        <%= render 'form', album: @album %>
      </div>
    </div>
  </div>
</div>
