<% content_for(:title, "Billing") %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'account/nav' %>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <h4 class="card-header">Billing</h4>
      <div class="card-body">
        <h5 class="card-title text-right">
          <span class="text-left float-left">
            Data balance
          </span>
          <% if current_user.balance > 0 %>
            <span class="text-success text-right"><%= number_to_human_size(current_user.balance) %></span>
          <% else %>
            <span class="text-danger text-right">-<%= number_to_human_size(-current_user.balance) %></span>
          <% end %>
        </h5>

        <hr>

        <h5 class="card-title">
          Top up
        </h5>
        <p class="card-text">
          Add data to your account to cover the cost of storage and transfert
          of your pictures.

          You will need a positive balance to upload new pictures.
        </p>
        <p class="card-text">
          The current transfert rate is <strong>&euro;1.00 per GB</strong>.
        </p>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
