<div id="gallery" class="justified-gallery mt-3">
  <%= render partial: 'pictures/pictures' %>
</div>

<p class="next-page text-center mt-3">
  <%= link_to_next_page @pictures, 'Load more', remote: true, class: 'btn btn-secondary', role: 'button' %>
</p>
