<% if pictures %>
  <div id="gallery" class="justified-gallery mt-3">
    <%= render 'pictures/pictures', pictures: pictures %>
  </div>

  <p class="next-page text-center mt-3">
    <%= link_to_next_page pictures, t('pictures.gallery.load_more'), remote: true, class: 'btn btn-outline-secondary', role: 'button' %>
  </p>
<% end %>
