<% content_for(:title, "Editing Picture (#{@picture.token})") %>

<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>

<%= link_to 'Delete', @picture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', role: 'button' %>
