<% content_for(:title, 'Upload many pictures') %>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <h4 class="card-header">Upload many pictures</h4>
      <div class="card-body">
        <% if current_user.billable? && current_user.balance.negative? %>
          <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong>
            Your data balance is <strong>-<%= number_to_human_size(-current_user.balance) %></strong>,
            you need to <%= link_to 'top up', account_billing_path %> before uploading
            new pictures.
          </div>
          <% end %>

          <%= form_for(Picture.new, html: { class: "custom-dropzone d-flex flex-wrap border-primary bg-light", style: "border:dashed 2px" }) do |f| %>
            <div class="text-center text-primary my-4 dz-message d-flex flex-column align-items-center justify-content-center">
              <div><%= fa_icon("cloud-upload 3x") %></div>
              <div>Drop files here to upload</div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
