<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
  <li class="breadcrumb-item active">Pictures</li>
</ol>

<div id="gallery" class="justified-gallery loading">
  <% @pictures.each do |picture| %>
    <%= link_to picture do %>
      <%= image_tag(picture.image_url(:thumb).to_s, alt: picture.caption) %>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'Upload a picture', new_picture_path, class: 'btn btn-primary', role: 'button' %>
