<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<% @pictures.each do |picture| %>
  <%= link_to picture do %>
    <%= image_tag(picture.image_url(:thumb).to_s) %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Picture', new_picture_path %>
