<h1>Pictures</h1>

<div id="gallery" class="justified-gallery">
  <% @pictures.each do |picture| %>
    <%= link_to picture do %>
      <%= image_tag(picture.image_url(:thumb).to_s, alt: picture.caption) %>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'Upload a picture', new_picture_path, class: 'btn btn-primary', role: 'button' %>
