<% content_for(:title, "#{@picture.caption.presence || 'Picture'} by #{@picture.user.name} (#{@picture.token})") %>
<% content_for(:page, 'lightbox') %>

<div class="row justify-content-center align-items-center" style="height:100vh">
  <div class="col-md-10">
    <%= link_to(picture_path(@picture, from: @from, order: @order), style: 'cursor:zoom-out') do %>
      <%= image_tag(@picture.image_url.to_s, alt: @picture.alt, class: 'img-fluid mx-auto d-block', style: 'max-height:90vh') %>
    <% end %>
  </div>
</div>
