<% content_for(:title, 'Upload a picture') %>
<% content_for(:page, 'upload') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Upload a picture</h4>
      <div class="card-block">
        <%= render 'form', picture: @picture %>
      </div>
    </div>
  </div>
</div>
