<% content_for(:title, 'Upload a picture') %>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header text-muted">Upload a picture</div>
      <div class="card-body">
        <% if current_user.billable? && current_user.balance.negative? %>
          <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong>
            Your data balance is <strong>-<%= number_to_human_size(-current_user.balance) %></strong>,
            you need to <%= link_to 'top up', account_billing_path, class: 'alert-link' %> before uploading
            new pictures.
          </div>
          <% end %>
        <%= render 'form', picture: @picture %>
      </div>
    </div>
  </div>
</div>
