<% content_for(:title, 'Upload a picture') %>
<% content_for(:page, 'upload') %>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <h4 class="card-header">Upload a picture</h4>
      <div class="card-body">
        <% if current_user.balance < 0 %>
          <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong>
            Your data balance is <strong class="text-danger-">-<%= number_to_human_size(-current_user.balance) %></strong>,
            you need to <%= link_to 'top up', account_billing_path %> before uploading
            new pictures.
          </div>
          <% end %>
        <%= render 'form', picture: @picture %>
      </div>
    </div>
  </div>
</div>
