<h1 class="mb-4">Search pictures</h1>

<%= render 'layouts/search' %>

<% if params[:q].present? %>
  <% title "Pictures about '#{params[:q]}'" %>

  <p class="mt-4"><%= pluralize(@pictures.total_count, 'picture') %> found</p>

  <%= render 'pictures/gallery', pictures: @pictures %>
<% else %>
  <% title 'Search' %>
<% end %>
