<div class="row">
  <div class="col-md-8 offset-md-2">
    <figure class="figure mx-auto d-block">
      <%= image_tag(@picture.image_url(:large).to_s, class: 'figure-img img-fluid mx-auto d-block', style: 'max-height:70vh') %>
      <figcaption class="figure-caption text-center"><%= @picture.caption %></figcaption>
    </figure>
  </div>

  <div class="col-md-2">
    <% if user_signed_in? && @picture.user_id == current_user.id %>
      <div class="text-center text-md-right">
        <%= link_to 'Edit', edit_picture_path(@picture), class: 'btn btn-secondary', role: 'button' %>
      </div>
    <% end %>
    <!-- <p>DEBUG: <%= @picture.views_count %> views</p> -->
  </div>
</div>
