$roboto-font-path: "roboto-slab-fontface-kit/fonts";

@font-face {
  font-family: "Roboto Slab";
  src:
    asset-url("#{$roboto-font-path}/Thin/RobotoSlab-Thin.woff2?v=1.0.0") format("woff2"),
    asset-url("#{$roboto-font-path}/Thin/RobotoSlab-Thin.woff?v=1.0.0") format("woff"),
    asset-url("#{$roboto-font-path}/Thin/RobotoSlab-Thin.ttf?v=1.0.0") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src:
    asset-url("#{$roboto-font-path}/Light/RobotoSlab-Light.woff2?v=1.0.0") format("woff2"),
    asset-url("#{$roboto-font-path}/Light/RobotoSlab-Light.woff?v=1.0.0") format("woff"),
    asset-url("#{$roboto-font-path}/Light/RobotoSlab-Light.ttf?v=1.0.0") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src:
    asset-url("#{$roboto-font-path}/Regular/RobotoSlab-Regular.woff2?v=1.0.0") format("woff2"),
    asset-url("#{$roboto-font-path}/Regular/RobotoSlab-Regular.woff?v=1.0.0") format("woff"),
    asset-url("#{$roboto-font-path}/Regular/RobotoSlab-Regular.ttf?v=1.0.0") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src:
    asset-url("#{$roboto-font-path}/Bold/RobotoSlab-Bold.woff2?v=1.0.0") format("woff2"),
    asset-url("#{$roboto-font-path}/Bold/RobotoSlab-Bold.woff?v=1.0.0") format("woff"),
    asset-url("#{$roboto-font-path}/Bold/RobotoSlab-Bold.ttf?v=1.0.0") format("truetype");
  font-weight: 700;
  font-style: normal;
}
