.dropzone {
  padding: 18px;
  .dz-image {
    border-radius: 0 !important;
  }
  .dz-details {
    display: none;
  }
  .dz-preview:hover {
    .dz-image {
      img {
        all: initial;
      }
    }
  }
}

.justified-gallery {
  > a, > div {
    background: #aaa;
  }
}
