body.welcome-index {
  background: image-url("home_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(white, 0.75);
    &:hover {
      color: rgba(white, 1.0);
    }
  }

  > .container {
    flex-grow: 1;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: column;

    .welcome {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      .btn {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }

  > footer {
    color: rgba(white, 0.75);
    a {
      color: rgba(white, 0.75);
    }
    a:hover {
      color: rgba(white, 1.0);
      text-decoration: none;
    }

    span {
      white-space: nowrap;
    }
  }
}

@media (max-width: 767.98px) {
  body.welcome-index {
    .display-4 {
      font-size: 2.5rem;
    }
  }
}
