body.welcome-index {
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(white, 0.75);
    &:hover {
      color: rgba(white, 1.0);
    }
  }

  .wrapper {
    > .container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .wrapper:first-of-type {
    background: #333 image-url("home_bg.jpg") no-repeat top center;
    background-size: cover;
    > .container {
      h1 {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
      .btn {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .navbar-footer {
    background: #034;
    color: rgba(white, 0.75);
    a:not(.dropdown-item) {
      color: rgba(white, 0.75);
    }
    a:hover:not(.dropdown-item) {
      color: rgba(white, 1.0);
      text-decoration: none;
    }
  }

  .lead {
    font-weight: normal;
  }

  .phone, .tablet {
    box-shadow: 0 16px 32px #eeee;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;
    img {
      border: solid 1px rgba(0, 0, 0, 0.1);
    }
  }
  .phone {
    padding: calc(0.5rem + 1vw);
    display: inline-block;
    img {
      width: auto;
      height: auto;
      max-height: 60vh;
      max-width: 40vw;
    }
  }
  .tablet {
    padding: calc(1rem + 1vw);
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  #read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgba(white, 0.95);
    animation: bounce 1s ease infinite;
  }
}

@keyframes bounce {
  0%, 75% {
    margin-bottom: 0.25rem;
  }
  25% {
    margin-bottom: 0.50rem;
  }
}

@media (max-width: 767.98px) {
  body.welcome-index {
    .display-4 {
      font-size: 2.5rem;
    }

    .phone img {
      max-width: 60vw;
    }
  }
}
